<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-gray-200 rounded-xl">
    <div class="space-y-3">
        <form hx-put="{% url 'view-task' task.id %}" hx-target="#task-details">
            {% csrf_token %}
            {{ form.as_p|safe }}

            <button class="flex sm:inline-flex justify-center items-center mt-2 bg-gradient-to-tr from-orange-500 to-yellow-400 hover:from-orange-600 hover:to-yellow-500 active:from-orange-700 active:to-yellow-600 focus-visible:ring ring-orange-300 text-white font-semibold text-center rounded-md outline-none transition duration-100 px-5 py-2" type="submit">Done</button>
        </form>
    </div>
</div>