{% extends "todos/index.html" %}
{% load static %}

{% block content %}
    <title>Edit Mode | ToDo</title>
    <div class="flex flex-wrap -mx-2 overflow-hidden">
        <div class="my-2 px-2 w-1/2 overflow-hidden sm:w-full md:w-full lg:w-1/2 xl:w-1/2">
                <div class="transition-all ml-10 rounded-xl hover:shadow-lg p-6 backdrop-blur-xl text-white">
                    <form action="" method="post">
                        
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button class="flex sm:inline-flex justify-center items-center mt-2 bg-gradient-to-tr from-indigo-500 to-purple-400 hover:from-indigo-600 hover:to-purple-500 active:from-indigo-700 active:to-purple-600 focus-visible:ring ring-indigo-300 text-white font-semibold text-center rounded-md outline-none transition duration-100 px-5 py-2" type="submit">Add</button>
                    </form>
                </div>
        </div>
        <div class="my-2 px-2 w-1/2 sm:w-full md:w-full lg:w-1/2 xl:w-1/2">
            {% include "todos/partials/task-list.html" %}
        </div>
    </div>

{% endblock content %}