{% extends "todos/editmode.html" %}

{% block list %}
    {% for task in tasks %}
    <form>
        {% csrf_token %}
        <div class="p-4 bg-gray-200 rounded-xl">
            {{ form.as_p }}
            <button hx-get="{% url 'edit-task' task.id%}">
                Edit
            </button>
        </div>
    </form>
    {% endfor %}

{% endblock list %}





<h2>Title: {{ task.title }}</h2><br>
        <p>Description{{ task.description }}</p><br>
        <p>Priority: {{ task.priority }}</p>